body {
  text-align: center;
  background-color: #b9d4f1;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #f94545;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

img{
background-size: auto;


}

.game-over {
  background-color: red;
  opacity: 0.8;
}



.pew {

  background-color: rgb(216,65,64);
  background-image: url(./images/pew.png);
  background-size: 190px 190px;
  background-position: center center; 
  background-repeat: no-repeat;

}

.brokenbone {
  background-color:rgb(255,223,64);
  background-image: url(./images/brokenbone.png);
  background-size: 190px 190px;
  background-position: center center; 
  background-repeat: no-repeat;

}

.lego {
  background-color:rgb(47,138,229);
  background-image: url(./images/lego.png);
  background-size: 190px 190px;
  background-position: center center; 
  background-repeat: no-repeat;


}

.minecraft {

  background-color:rgb(61,153,92);
  background-image: url(./images/minecraft.png);
  background-size: 190px 190px;
  background-position: center center; 
  background-repeat: no-repeat;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
